.red{
    background-color: red;
}
.orange{
    background-color: #ea833a;
}
.yellow{
    background-color: orange;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
div{
    font-size: large;
    color: whitesmoke;
    text-shadow: 0.3em 0.3em 0.3em rgb(0, 0, 0);
    height: 48px;
}
