body {
    background-color: bisque;

}
* {
    box-sizing: border-box;
    margin: 0;
}
.Green {
    color: darkgreen;
}
#p1 {
    font-size: 50px;
}
.Big {
    font-size: 80px;
}
.container h2 {
    text-transform: uppercase;
}
#p1 + p {
    font-weight: bold;
}
.container p {
    border: black solid 10px;
}
.container > p {
    border: red solid 1px;
}
.Big.Green {
    background-color: cyan;
}